{{# partial "titulo" }}	
	<title>Home - QueComemos</title>
{{/partial}}

		
{{# partial "primero" }}	

<h1> Bienvenido a QueComemos! <h1>
<br>
<h3> Estas son sus ultimas recetas: <h3>
<br>

{{/partial}}
				
{{> tabla.hbs }}